#popup-window {
  width: 200px;
}
input {
  line-height: 20px;
  border: 1px solid #ccc;
  padding: 5px;
}
button {
  border: none;
  border-radius: 6px;
  background: #0c386e;
  color: #ffffff;
  margin: 12px;
  font-size: 12px;
  padding: 6px 12px;
}
.center {
  text-align: center;
}
.item-name {
  color: #0c386e;
  line-height: 30px;
}
